In [1]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [5]:
import seaborn as sns

In [7]:
df=pd.read_csv(r'C:\Users\prathamesh\Downloads\Advertising.csv')

In [8]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [9]:
y=df['sales']

In [10]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [11]:
X=df[['TV', 'radio', 'newspaper']]

In [12]:
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [13]:
import sklearn

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [16]:
X_train

        TV  radio  newspaper
131  265.2    2.9       43.0
96   197.6    3.5        5.9
181  218.5    5.4       27.4
19   147.3   23.9       19.1
153  171.3   39.7       37.7
..     ...    ...        ...
67   139.3   14.5       10.2
192   17.2    4.1       31.6
117   76.4    0.8       14.8
47   239.9   41.5       18.5
172   19.6   20.1       17.0

[140 rows x 3 columns]

In [17]:
X_test

        TV  radio  newspaper
18    69.2   20.5       18.3
170   50.0   11.6       18.4
107   90.4    0.3       23.2
98   289.7   42.3       51.2
177  170.2    7.8       35.2
182   56.2    5.7       29.7
5      8.7   48.9       75.0
146  240.1    7.3        8.7
12    23.8   35.1       65.9
152  197.6   23.3       14.2
61   261.3   42.7       54.7
125   87.2   11.8       25.9
180  156.6    2.6        8.3
154  187.8   21.1        9.5
80    76.4   26.7       22.3
7    120.2   19.6       11.6
33   265.6   20.0        0.3
130    0.7   39.6        8.7
37    74.7   49.4       45.7
74   213.4   24.6       13.1
183  287.6   43.0       71.8
145  140.3    1.9        9.0
45   175.1   22.5       31.5
159  131.7   18.4       34.6
60    53.5    2.0       21.4
123  123.1   34.6       12.4
179  165.6   10.0       17.6
185  205.0   45.1       19.6
122  224.0    2.4       15.6
44    25.1   25.7       43.3
16    67.8   36.6      114.0
55   198.9   49.4       60.0
150  280.7   13.9       37.0
111  241.7   38.0       23.2
22    13.2   15.9       49.6
189   18.7   12.1       23.4
129   59.6   12.0       43.1
4    180.8   10.8       58.4
83    68.4   44.5       35.6
106   25.0   11.0       29.7
134   36.9   38.6       65.6
66    31.5   24.6        2.2
26   142.9   29.3       12.6
113  209.6   20.6       10.7
168  215.4   23.6       57.6
63   102.7   29.6        8.4
8      8.6    2.1        1.0
75    16.9   43.7       89.4
118  125.7   36.9       79.2
143  104.6    5.7       34.4
71   109.8   14.3       31.7
124  229.5   32.3       74.2
184  253.8   21.3       30.0
97   184.9   21.0       22.0
149   44.7   25.8       20.6
24    62.3   12.6       18.3
30   292.9   28.3       43.2
160  172.5   18.1       30.7
40   202.5   22.3       31.6
56     7.3   28.1       41.4

In [18]:
y_train

131    12.7
96     11.7
181    12.2
19     14.6
153    19.0
       ...
67     13.4
192     5.9
117     9.4
47     23.2
172     7.6
Name: sales, Length: 140, dtype: float64

In [19]:
y_test

18     11.3
170     8.4
107     8.7
98     25.4
177    11.7
182     8.7
5       7.2
146    13.2
12      9.2
152    16.6
61     24.2
125    10.6
180    10.5
154    15.6
80     11.8
7      13.2
33     17.4
130     1.6
37     14.7
74     17.0
183    26.2
145    10.3
45     14.9
159    12.9
60      8.1
123    15.2
179    12.6
185    22.6
122    11.6
44      8.5
16     12.5
55     23.7
150    16.1
111    21.8
22      5.6
189     6.7
129     9.7
4      12.9
83     13.6
106     7.2
134    10.8
66      9.5
26     15.0
113    15.9
168    17.1
63     14.0
8       4.8
75      8.7
118    15.9
143    10.4
71     12.4
124    19.7
184    17.6
97     15.5
149    10.1
24      9.7
30     21.4
160    14.4
40     16.6
56      5.5
Name: sales, dtype: float64

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
linearreg=LinearRegression()

In [22]:
linearreg.fit(X_train,y_train)

LinearRegression()

In [23]:
y_pred=linearreg.predict(X_test)

In [24]:
y_pred

array([10.05866652,  7.43318827,  6.95305695, 24.16874598, 11.98172029,
        6.54464708, 13.19426793, 14.90240334, 11.07675294, 16.25061663,
       23.0081158 ,  9.12072148, 10.29342297, 15.3709661 , 11.62396513,
       12.1057432 , 18.55030805, 10.85810888, 16.13879856, 17.20281404,
       24.25469939,  9.43869821, 15.13419408, 12.41283844,  5.66973859,
       15.23876681, 12.1878762 , 20.95164149, 13.22671807,  9.20954724,
       13.39812727, 21.61944517, 18.05938674, 21.14798547,  6.73582996,
        6.16799717,  7.98042607, 13.09083488, 14.86214078,  6.23597127,
       12.35246911,  9.19452235, 15.04717679, 16.23039254, 17.17240889,
       13.3341216 ,  3.68035786, 12.53946851, 15.93674769,  8.67881357,
       10.62459997, 19.5646526 , 18.3472282 , 15.24662975, 10.04846378,
        8.17344188, 21.49061088, 14.137309  , 16.29760212,  8.90502274])

In [25]:
from sklearn import metrics

In [26]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [27]:
linearreg.score(X_train,y_train)

0.9065727532450596

In [28]:
mean_squared_error(y_test,y_pred)

3.691394845698608

In [29]:
mean_absolute_error(y_test,y_pred)

1.2333759522850205

In [30]:
mean_squared_error(y_test,y_pred,squared=False) # RMSE

1.9213003007595164

In [31]:
import math

In [32]:
MSE=np.square(np.subtract(y_test,y_pred)).mean()

In [33]:
MSE

3.691394845698608

In [34]:
RMSE=math.sqrt(MSE)

In [35]:
RMSE

1.9213003007595164

In [37]:
MAE=np.mean(abs(y_test-y_pred))

In [38]:
MAE

1.2333759522850205

In [39]:
r2_score(y_test,y_pred)

0.8649018906637792